# Include the README
include *.md

# Include the license file
include LICENSE.txt

include smtag/logging.yaml

# Include the resources directories
include resources
recursive-include resources/data *
recursive-include resources/data4th *
recursive-include resources/encoded *
recursive-include resources/img *
# recursive-include resources/log *
recursive-include resources/models *
recursive-include resources/rack *
# recursive-include resources/runs *
