pillow==6.2.1 # 7.0.0 breaks torchvision
numpy==1.16.3
torch==1.0.1
torchvision==0.2.2.post3
# tensorflow==1.8.0 # works on dgx not on Mac... 
# tensorflow==1.14.0 # works on Mac not on dgx...
tensorboardX==1.6
neo4jrestclient==2.1.1
nltk == 3.4.1
google-cloud-vision==0.34
google-auth==1.5.1
# opencv-python==3.4.1.15 # dgx
opencv-python==3.4.2.16 # mac
scikit-learn == 0.20.1
python-dotenv==0.10.1 # to load .env file
-e git+https://29bfda3a0ce493fc39355903ad48c0fa9fe69bdf@github.com/source-data/ai.git#egg=ai