docopt==0.6.2
numpy==1.14.2
Pillow==4.3.0 #5.1.0 requires Mac OS 10.12; torchvision require at least 4.1.1
PyYAML==3.12
six==1.10.0
torch==0.4.0
torchvision==0.2.0
neo4jrestclient==2.1.1
nltk==3.2.4
#tensorflow==1.4 #does not work!
#install manually tensorflow with pip3 install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl
#tensorflow-tensorboard==1.5.1 #supposedly not dependent on tensorflow, but did not work 
tensorboardX==1.2