<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>smtag-doc</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__left">
    <div class="stackedit__toc">

<ul>
<li><a href="#sourcedata-smarttag-web-tool">SourceData SmartTag web tool</a>
<ul>
<li><a href="#base-url">Base URL</a></li>
<li><a href="#complete-annotation">Complete annotation</a></li>
<li><a href="#tag-entities-only">Tag entities only</a></li>
<li><a href="#role-prediction-only">Role prediction only</a></li>
<li><a href="#tag-entities-and-predict-roles">Tag entities and predict roles</a></li>
<li><a href="#segment-panels-only">Segment panels only</a></li>
</ul>
</li>
</ul>

    </div>
  </div>
  <div class="stackedit__right">
    <div class="stackedit__html">
      <h1 id="sourcedata-smarttag-web-tool">SourceData SmartTag web tool</h1>
<p>SmartTag provides methods to tag text from figure legends based on the <a href="http://sourcedata.embo.org">SourceData</a> model.</p>
<p>See also:</p>
<blockquote>
<p><strong>SourceData - a semantic platform for curating and searching figures.</strong><br>
Liechti R, George N, Götz L, El-Gebali S, Chasapi A, Crespo I, Xenarios I, Lemberger T.<br>
<em>Nature Methods</em> (2017) <strong>14</strong>:1021 <a href="http://doi.org/10.1038/nmeth.4471">doi:10.1038/nmeth.4471</a></p>
</blockquote>
<p>Demonstration of SmartTag:</p>
<ul>
<li><a href="/demo1">http://sdtag.net:7475/demo1</a></li>
<li><a href="/demo2">http://sdtag.net:7475/demo2</a></li>
<li><a href="/demo3">http://sdtag.net:7475/demo3</a></li>
</ul>
<h2 id="base-url">Base URL</h2>
<p><code>http://sdtag.net:7475</code></p>
<h2 id="complete-annotation">Complete annotation</h2>
<p>Method to perform the complete tagging of a text, including panel segmentation, typed entity tagging and role prediction.</p>
<p><strong>Request:</strong> <code>GET</code> | <code>POST</code>  <code>/smtag</code></p>
<p><strong>URL Params:</strong></p>
<ul>
<li><code>text=[string]</code>  (required): the text to process</li>
<li><code>format=['html' (default) |'xml']</code> (optional): the format of the output.</li>
<li><code>tag=['sd-tag' (default)|'sd-pretag']</code>: the element/class used to tag entities; set to ‘sd-tag’ by default.</li>
</ul>
<p><strong>Examples:</strong></p>
<pre><code>$ curl 'http://sdtag.net:7475/smtag?text=A%20Creb1-/-%20cell.&amp;format=xml&amp;tag=sd-pretag'

&lt;smtag&gt;&lt;sd-panel&gt;&lt;sd-pretag type="organism" type_score="62"&gt;A&lt;/sd-pretag&gt; &lt;sd-pretag type="geneprod" role="intervention" type_score="96" role_score="91"&gt;Creb1&lt;/sd-pretag&gt;-/- cell.&lt;/sd-panel&gt;&lt;/smtag&gt;
</code></pre>
<hr>
<pre><code>$ curl 'http://sdtag.net:7475/smtag?text=A%20Creb1-/-%20cell.&amp;format=html'

&lt;ul&gt;&lt;li class="sd-panel"&gt;A &lt;span class="sd-tag geneprod type_score_9 intervention role_score_8"&gt;Creb1&lt;/span&gt;-/- cell.&lt;/li&gt;&lt;/ul&gt;
</code></pre>
<h2 id="tag-entities-only">Tag entities only</h2>
<p>Method to tag entities.</p>
<p><strong>Request:</strong> <code>GET</code> | <code>POST</code>  <code>/entity</code></p>
<p><strong>URL Params:</strong></p>
<ul>
<li><code>text=[string]</code>  (required): the text to process</li>
<li><code>format=['html' (default) |'xml']</code> (optional): the format of the output.</li>
<li><code>tag=['sd-tag' (default)|'sd-pretag']</code>: the element/class used to tag entities; set to ‘sd-tag’ by default.</li>
</ul>
<p><strong>Examples:</strong></p>
<pre><code>$ curl 'http://sdtag.net:7475/entity?text=A%20Creb1-/-%20cell.&amp;format=xml&amp;tag=sd-pretag'

&lt;smtag&gt;A &lt;sd-tag type="geneprod" type_score="68"&gt;Jun&lt;/sd-tag&gt;-/- cell.&lt;/smtag&gt;
</code></pre>
<hr>
<pre><code>curl 'http://sdtag.net:7475/entity?text=A%20Creb1-/-%20cell.&amp;format=html'

A &lt;span class="sd-tag geneprod type_score_9"&gt;Creb1&lt;/span&gt;-/- cell.
</code></pre>
<h2 id="role-prediction-only">Role prediction only</h2>
<p>Method to predict the roles from pretagged content.</p>
<p><strong>Request:</strong> <code>GET</code> | <code>POST</code>  <code>/role</code></p>
<p><strong>URL Params:</strong></p>
<ul>
<li><code>pretagged=[xml_string]</code>  (required):  the pretagged content as xml</li>
<li><code>tag=[sd-tag|sd-pretag (default)]</code> (optional): the element that needs to be updated; set to ‘sd-pretag’ by default</li>
</ul>
<p><strong>Examples:</strong></p>
<pre><code>curl -G 'http://sdtag.net:7475/role' --data-urlencode 'pretagged=&lt;something&gt;&lt;sd-tag type="geneprod"&gt;Atg4&lt;/sd-tag&gt; levels in &lt;sd-pretag type="geneprod" category="" type_score="68" irrelevant_attr="hello"&gt;Creb1&lt;/sd-pretag&gt;-/- cell.&lt;/something&gt;'

&lt;something&gt;&lt;sd-tag type='geneprod'&gt;Atg4&lt;/sd-tag&gt; levels in &lt;sd-pretag irrelevant_attr='hello' type_score='68' role='intervention' type='geneprod' category=''&gt;Creb1&lt;/sd-pretag&gt;-/- cell.&lt;/something&gt;
</code></pre>
<p>Note: only  elements are updated.</p>
<pre><code>curl -G 'http://sdtag.net:7475/role' --data-urlencode 'pretagged=&lt;something&gt;&lt;sd-tag type="geneprod"&gt;Atg4&lt;/sd-tag&gt; levels in &lt;sd-pretag type="geneprod" type_score="68" irrelevant_attr="hello"&gt;Creb1&lt;/sd-pretag&gt;-/- cell.&lt;/something&gt;' --data 'tag=sd-tag'

&lt;something&gt;&lt;sd-tag type='geneprod' role='assayed'&gt;Atg4&lt;/sd-tag&gt; levels in &lt;sd-pretag irrelevant_attr='hello' type='geneprod' type_score='68'&gt;Creb1&lt;/sd-pretag&gt;-/- cell.&lt;/something&gt;
</code></pre>
<p>Note: only sd-tag is updated because of the tag=sd-tag parameter</p>
<p><strong>Notes:</strong></p>
<ul>
<li>By default, only <code>&lt;sd-pretag category=""&gt;</code> elements are updated, the rest of the elements are left untouched</li>
<li>If another element is specified by the <code>tag</code> parameter, only these elements are updated (but without any constraint on attributes)</li>
<li>The attribute <code>@role</code> with the default value <code>@role='component'</code> is added to all the updated elements.</li>
<li>For the updated elements that have <code>@type='geneprod'</code> or <code>@type='molecule'</code>, the attribute <code>@role='intervention'</code> or <code>@role='assayed'</code> may be added based on the predicted role.</li>
</ul>
<h2 id="tag-entities-and-predict-roles">Tag entities and predict roles</h2>
<p>Method to tag entities.</p>
<p><strong>Request:</strong> <code>GET</code> | <code>POST</code>  <code>/tag</code></p>
<p><strong>URL Params:</strong></p>
<ul>
<li><code>text=[string]</code>  (required): the text to process</li>
<li><code>format=['html' (default) |'xml']</code> (optional): the format of the output.</li>
<li><code>tag=[sd-tag (default)|sd-pretag]</code> (optional): the element/class used to tag entities; set to ‘sd-tag’ by default.</li>
</ul>
<p><strong>Examples:</strong></p>
<pre><code>$ curl 'http://sdtag.net:7475/tag?text=A%20Creb1-/-%20cell.&amp;format=xml'

smtag&gt;A &lt;sd-tag type="geneprod" role="intervention" type_score="95" role_score="75"&gt;Creb1&lt;/sd-tag&gt;-/- cell.&lt;/smtag&gt;
</code></pre>
<hr>
<pre><code>$ curl 'http://sdtag.net:7475/tag?text=A%20Creb1-/-%20cell.&amp;format=html&amp;tag=pre-tag'

A &lt;span class="pre-tag geneprod type_score_9 intervention role_score_9"&gt;Creb1&lt;/span&gt;-/- cell.
</code></pre>
<h2 id="segment-panels-only">Segment panels only</h2>
<p>Method to split the text of a figure legend into individual panels.</p>
<p><strong>Request:</strong> <code>GET</code> | <code>POST</code>  <code>/panelize</code></p>
<p><strong>URL Params:</strong></p>
<ul>
<li><code>text=[string]</code>  (required): the text to process</li>
<li><code>format=['html' (default) |'xml']</code> (optional): the format of the output.</li>
</ul>
<p><strong>Examples:</strong></p>
<pre><code>http://sdtag.net:7475/panelizer?text=(A)%20This%20is%20a%20panel.%20(B)%20This%20is%20differnt%20from%20(A)%20or%20(C).%20(C,%20D)%20The%20rest.&amp;format=xml

&lt;smtag&gt;
	&lt;sd-panel&gt;(A) This is a panel.&lt;/sd-panel&gt;
	&lt;sd-panel&gt;(B) This is differnt from (A) or (C).&lt;/sd-panel&gt;
	&lt;sd-panel&gt;(C, D) The rest.&lt;/sd-panel&gt;
&lt;/smtag&gt;
</code></pre>
<hr>
<pre><code>http://sdtag.net:7475/panelizer?text=(A)%20This%20is%20a%20panel.%20(B)%20This%20is%20differnt%20from%20(A)%20or%20(C).%20(C,%20D)%20The%20rest.&amp;format=html

&lt;ul&gt;
    &lt;li class="sd-panel"&gt;(A) This is a panel. &lt;/li&gt;
    &lt;li class="sd-panel"&gt;(B) This is differnt from (A) or (C). &lt;/li&gt;
    &lt;li class="sd-panel"&gt;(C, D) The rest.&lt;/li&gt;
&lt;/ul&gt;
</code></pre>

    </div>
  </div>
</body>

</html>
