<!doctype html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SourceData SmartTags</title>
        <meta name="description" content="The SourceData SmartTags data extraction demonstration">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='sdtag/dist/css/main.css') }}">
    </head>
    <body>
      <div id="topBar">
        <div class="container">
          <a href="http://sourcedata.embo.org"><img src="{{ url_for('static', filename='sdtag/src/assets/sourcedata_logo.png') }}" alt="SourceData Logo" id="sdLogo"></a>
        </div>
      </div>
      <main>
        <section id="intro" class="container">
          <h1>SmartTag Editor</h1>


        </section>
        <div id="smartTags">
          <div class="container" id="initialLoaderContainer">
            <img src="{{ url_for('static', filename='sdtag/src/assets/loader.gif') }}" alt="animated loading icon">
            <p class="initialLoadCaption">Loading the SmartTags Application</p>
          </div>
        </div>
      </main>
      <section class="container">
                  <p>Find out more about SourceData at <a href="http://sourcedata.embo.org">sourcedata.embo.org</a></p>
      </section>
    <script src="{{ url_for('static', filename='sdtag/dist/build.js') }}"></script>
    </body>
</html>
