wheel
click==6.7
Flask==0.12.2
Flask-DotEnv==0.1.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
python-dotenv==0.8.2
PyYAML==3.12
Werkzeug==0.14.1
-e git+git@github.com:source-data/py-smtag.git@d7d323a88214e2587e5e4302f09e25662d8411c2#egg=smtag
